@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
   --orange: #fa8231;
   --black:#111;
   --white:#fff;
   --light-color:#1e272e;
   --light-bg:#eee;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

@mixin grid($val) {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
   gap:2rem;
}

@mixin titleText($titleSize) {
   font-size: $titleSize;
   color:var(--black);
   text-transform: capitalize;
}

@mixin graphText($graphSize) {
   font-size: $graphSize;
   color:var(--light-color);
   line-height: 2;
}

@mixin iconsBox() {
   height: 5rem;
   width: 5rem;
   line-height: 5rem;
   font-size: 2rem;
   background: var(--light-bg);
   color:var(--black);
   cursor: pointer;
   text-align: center;

   &:hover{
      background: var(--black);
      color:var(--white);
   }
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 7rem;

   &::-webkit-scrollbar{
      width: 1rem;
   }

   &::-webkit-scrollbar-track{
      background: transparent;
   }

   &::-webkit-scrollbar-thumb{
      background: var(--orange);
   }
}

section{
   padding:5rem 10%;
}

.heading{
   margin-bottom: 3rem;
   @include titleText(3rem);
   padding-left: 1rem;
   border-left: 1rem solid var(--orange);
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1rem 3rem;
   background: var(--black);
   color:var(--white);
   cursor: pointer;
   font-size: 1.7rem;
   text-transform: capitalize;
   transition:.2s linear;

   &:hover{
      background: var(--orange);
   }
}

@keyframes fadeIn {
   0%{
      top:50%;
      opacity: 0;
   }
}

.header{
   position: sticky;
   box-shadow: var(--box-shadow);
   padding: 1.5rem 2%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
   background: var(--white);
   top: 0; left: 0; right: 0;
   
   .logo{
      @include titleText(2.5rem);
      font-family: 'Dancing Script', cursive;

      span{
         color:var(--orange);
         font-family: 'Dancing Script', cursive;
      }
   }

   .navbar a{
      @include titleText(2rem);
      margin:0 1rem;

      &:hover{
         color:var(--orange);
      }
   }

   .icons div{
      @include iconsBox();
      margin-left: .3rem;

      &:hover {
         background: var(--orange);
      }

   }

   #menu-btn{
      display: none;
   }
}

.contact-info{
   position: fixed;
    top: 0; right: 0;
    width: 36rem;
    background: var(--white);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 1rem;
    display: none;

    &.active {
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
        display: block;
    }

    #close-contact-info {
        position: absolute;
        top: 1rem; right: 1.5rem;
        cursor: pointer;
        font-size: 3rem;
        color: var(--black);
       

        &:hover {
            transform: rotate(90deg);
        }
    }

    .info {

        padding: 2rem 0;

        i {
            @include iconsBox();
            margin-bottom: .5rem;

            &:hover {
                background: var(--orange);
            }
        }

        h3 {
            @include titleText(1.8rem);
        }

        p {
            @include graphText(1.5rem);
        }

    }

    .share {
        padding-top: 1rem;
        border-top: var(--border);
        margin-top: 1rem;

        a {
            @include iconsBox();
            margin: 0 .3rem;

            &:hover {
                background: var(--orange);
            }
        }
    }
}

.home{
   padding:0;

   .slide{
      min-height: 60rem;
      display: flex;
      align-items: center;
      position: relative;
      background-size: cover !important;
      background-position: center !important;

      &::before{
         content: '';
         position: absolute;
         top:0; left:0;
         height: 100%;
         width: 100%;
         background: linear-gradient(90deg, var(--white), transparent);
      }

      .content{
         width: 50rem;
         position: relative;

         h3{
            @include titleText(6rem);
            text-transform: uppercase;

            span {
               color: var(--orange);
            }
         }

         p{
            @include graphText(1.4rem);
            padding:1rem 0;
         }
      }
   }

   .swiper-button-next,
   .swiper-button-prev{
      top:initial;
      bottom: 0;
      left: initial;
      right: 0;
      height: 7rem;
      width: 7rem;
      line-height: 7rem;
      background: var(--white);

      &:hover{
         background: var(--orange);
      }
   }

   .swiper-button-next::after,
   .swiper-button-prev::after{
      font-size: 2rem;
      color:var(--black);
   }

   .swiper-button-prev{
      right:7rem;
   }
}

.about{

   .mission-vision {
      @include grid(30rem);
      margin-bottom: 3rem;
      

      .box {
          text-align: center;
          padding: 3rem;
          background: var(--light-bg);
          box-shadow: var(--box-shadow);
          transition: all .2s linear;
          
          h3 {
              @include titleText(4rem);
              padding: 1rem 0;
              font-family: 'Dancing Script', cursive;
              
              span {
                  color: var(--orange);
                  font-family: 'Dancing Script', cursive;
              }
          }

          p {
              @include graphText(2rem);
            
          }
      }
  }

  .heading2 {
      margin-bottom: 3rem;
      @include titleText(4rem);
      text-align: center;
      font-family: 'Dancing Script', cursive;

      span {
          color: var(--orange);
          font-family: 'Dancing Script', cursive;
      }
  }

  p {
      @include graphText(2rem);
      padding-bottom: 2rem;

      span {
          color: var(--orange);
          font-weight: bold;
          font-size: 2.3rem;
      }
  }

   .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap:3rem;

      .video{
         flex:1 1 41rem;

         video{
            width: 100%;
         }
      }

      .content{
         flex:1 1 41rem;

         h3{
            @include titleText(3.5rem);
         }

         p{
            @include graphText(1.5rem);
            padding:1rem 0;
         }
      }
   }

   .box-container{
      margin-top: 3rem;
      @include grid(16rem);
      align-items: flex-end;

      .box{
         text-align: center;
         background: var(--light-bg);
         padding:3rem 2rem;

         h3{
            @include titleText(4rem);
         }

         p{
            @include graphText(1.5rem);
            padding-top: .5rem;
         }
      }
   }
}

.services{
   background: var(--light-bg);

   .box-container{
      @include grid(25rem);

      .box{
         text-align: center;
         padding:3rem;
         background: var(--white);
         box-shadow: var(--box-shadow);
         border:var(--border);

         &:hover img{
            transform: translateY(-1rem);
         }

         img{
            height: 7rem;
            margin-bottom: .5rem;
            transition:.2s linear;
         }

         h3{
            @include titleText(1.7rem);
            padding:1rem 0;
         }

         p{
            @include graphText(1.4rem);
         }
      }
   }
}

.projects{
   background: var(--black);

   .heading{
      color:var(--white);
   }

   .box-container{
      @include grid(30rem);

      .box{
         cursor: initial;

         &:hover .image img{
            transform: scale(1.1);
         }

         .image{
            height: 40rem;
            overflow: hidden;

            img{
               height: 100%;
               width: 100%;
               object-fit: cover;
               transition:.2s linear;
            }
         }

         .content{
            display: flex;
            background: var(--white);
            justify-content: space-between;

            .info{
               padding:1rem 2rem;

               h3{
                  @include titleText(1.7rem);
               }

               p{
                  @include graphText(1.5rem);
               }
            }

            i{
               width: 7.5rem;
               font-size: 3rem;
               background: var(--orange);
               color:var(--white);
               cursor: pointer;
               text-align: center;
               line-height: 7.5rem;
            }
         }
      }
   }
}

.reviews{

   .slide{

      p{
         padding:1.5rem;
         background: var(--light-bg);
         position: relative;
         margin-bottom: 3rem;
         @include graphText(1.4rem);

         &::before{
            content: '';
            position: absolute;
            bottom:-1rem; left:2rem;
            height: 2rem;
            width: 2rem;
            background: var(--light-bg);
            transform: rotate(45deg);
         }
      }

      .user{
         display: flex;
         align-items: center;
         gap:1.5rem;

         img{
            height: 7rem;
            width: 7rem;
         }

         h3{
            @include titleText(2rem);
         }
         h1{
            @include graphText(1.4rem);
          
         }

         .stars{
            padding-top: .5rem;

            i{
               font-size: 1.4rem;
               color:var(--orange);
            }
         }
      }
   }
}

.contact{
   background: var(--black);

   .heading{
      color:var(--white);
   }

   .row{
      display: flex;
      flex-wrap: wrap;
      gap:2rem;

      .map{
         flex:1 1 41rem;
         width: 100%;
      }

      form{
         flex:1 1 41rem;
         background: var(--white);
         padding:2rem;

         h3{
            @include titleText(2.5rem);
         }

         .box{
            margin:.7rem 0;
            width: 100%;
            padding:1.5rem 0;
            border-bottom: var(--border);
            font-size: 1.6rem;
            color:var(--light-color);

            &:focus{
               border-color: var(--orange);
            }
         }

         textarea{
            height: 15rem;
            resize: none;
         }
      }
   }
}

.logo-container{
   text-align: center;

   img{
      height: 10rem;
        pointer-events: none;
        user-select: none;
        height: 10rem;
        width: 10rem;
   }
}

.footer{
   text-align: center;
   padding-bottom: 10rem;

   .links .btn{
      margin:.5rem;
   }

   .credit{
      @include titleText(2rem);
      margin-top: 2rem;
      padding-top: 1rem;

      span{
         color:var(--orange);
      }
   }

   .credit2{
      @include titleText(1.3rem);


      span{
         color:var(--orange);
      }
   }
}















// media queries 

@media (max-width:1200px){

   .header{
      padding:1.5rem 2rem;
   }

   section{
      padding:3rem 5%;
   }
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .header{

      #menu-btn{
         display: inline-block;
      }

      .navbar{
         position: absolute;
         top:99%; left:0; right:0;
         background: var(--white);
         border-top: var(--border);
         border-bottom: var(--border);
         clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         transition:.2s linear;

         &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
         }

         a{
            display: block;
            margin:2rem;
         }
      }
   }

}

@media (max-width:768px){

   .header{

      .search-form{
         width: 90%;
      }

      .login-form{
         width: 90%;
      }
   }

   .home .slide{
      justify-content: center;

      .content{
         text-align: center;

         h3{
            font-size: 3rem;
         }
      }
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .about .row .content h3{
      font-size: 2.5rem;
   }

}